 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 /* intro */

 .loading {
  animation: 3s load ease-in-out;
  animation-fill-mode: forwards;
  background-color: #fff;
 }

 @keyframes load {
  0% {
   width: 0;
  }
  100% {
   width: 100%;
  }
 }